<div class="mdl-grid slide-animation">
  <div class="mdl-cell mdl-cell--10-col mdl-cell--8-col-tablet ">
	<div id="timeline_container" >
      <div>
        <figure>
          <img src="./images/msk-small.jpeg" title="Khan" alt="Shahid"/>
        </figure>
        <!-- <h3>Shahid Khan</h3> -->
      </div>
      <ul>
        <li class="work_event active">
          <div class="event_icn"><i class="fa fa-briefcase fa-2x fa-fw"></i></div>
          <div class="event_content">
            <p class="mdl-typography--title">Since 2011</p>
            <p class="mdl-typography--subhead">Tata Consultancy Service</p>
            <p class="mdl-typography--body1">Tech Lead, Lead Developer</p>
          </div>
          <!-- <div class="event_date">
            01/2016
          </div> -->
        </li>
        <li class="work_event">
          <div class="event_icn"><i class="fa fa-briefcase fa-2x fa-fw"></i></div>
          <div class="event_content">
            <h2 class="mdl-typography--title">Aug 2010-Dec 2011</h2>
            <p class="mdl-typography--subhead">Hitachi Consulting</p>
            <p class="mdl-typography--body1">Senior Developer</p>
          </div>
        </li>

        <li class="work_event">
          <div class="event_icn"><i class="fa fa-briefcase fa-2x fa-fw"></i></div>
          <div class="event_content">
            <p class="mdl-typography--title">Jun 2006 - July 2010</p>
            <p class="mdl-typography--subhead">Accenture</p>
            <p class="mdl-typography--body1">Developer</p>
          </div>
        </li>


        <li class="education_event">
          <div class="event_icn"><i class="fa fa-graduation-cap fa-2x fa-fw"></i></div>
          <div class="event_content">
            <p class="mdl-typography--title">MCA</p>
            <p class="mdl-typography--caption">(Master of Computer Applications)</p>
            <p class="mdl-typography--subhead">NIT, Bhopal, MP, INDIA </p>
            <p class="mdl-typography--caption">(Maulana Azad National Institute of Technology)</p>
          </div>
        </li>
        <li class="education_event">
          <div class="event_icn"><i class="fa fa-graduation-cap fa-2x fa-fw"></i></div>
          <div class="event_content">
            <p class="mdl-typography--title">Bachelor of Science <span class="mdl-typography--caption">Computer Science</span></p>
            <p class="mdl-typography--subhead">Govt. Hoklar Science College, Indore, MP, INDIA</p>
          </div>
          <!-- <div class="event_date">
            07/2003
          </div> -->
        </li>
      </ul>
      <div id="info_container">
          <i class="fa fa-info"></i>
      </div><!-- of #info_container -->
    </div> <!-- Timeline Ends -->
  	</div>

  	<div class="mdl-cell mdl-js-cell mdl-cell--7-col mdl-grid mdl-color--white" style="border-left: 1px solid lightgrey;">
            <div class="mdl-card mdl-js-card  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid">
              <div class="mdl-cell mdl-cell--8-col mdl-color-text--black mdl-cell--top " >
                <!-- <div><i class="material-icons" style="font-size: 128px;">account_circle</i></div> -->
                <div class="mdl-typography--headline"> Mohammed Shahid Khan </div>
                <div class="mdl-typography--title"> Web Developer</div>
              </div>
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-cell mdl-js-cell mdl-cell--4-col mdl-color-text--black mdl-typography--body-1">
                <div><i class="fa fa-home fa-fw"></i> <span class="align-top"> Oklahoma City, OK</span></div>
                <div><i class="fa fa-mobile fa-lg fa-fw"></i> <span class="align-top"> +1 (123) 456 7890</span></div>
                <div><i class="fa fa-envelope-o fa-fw"></i> <span class="align-top"> abcd.efg@xyz.com</span></div>
              </div>


            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white  card-margin-top " >
              <div class="mdl-typography--headline heading-background">Proficiency</div>

              <div id="skill-1" data-percent="80" class="orange medium"></div>
              <div id="skill-2" data-percent="98" class="green medium"></div>
              <div id="skill-3" data-percent="80" class="blue medium"></div>
              <div id="skill-4" data-percent="98" class="purple medium"></div>
              <div id="skill-5" data-percent="98" class="cyan medium"></div>
              <div id="skill-6" data-percent="98" class="red medium"></div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white " >
              <div class="mdl-typography--headline heading-background">Interest</div>
              <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding-top: 1px;">
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-400">
                  <i class="fa fa-html5 fa-4x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-500">
                  <i class="fa fa-css3 fa-3x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-600">
                  <i class="fa fa-js fa-4x fa-fw"></i>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
              <div class="mdl-typography--headline heading-background">Leisure</div>
              <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding-top: 1px;">
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-400">
                  <i class="fa fa-gamepad fa-4x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-500">
                  <i class="fa fa-soccer-ball-o fa-3x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-600">
                  <i class="fa fa-plane fa-4x fa-fw"></i>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
              <div class="mdl-typography--headline heading-background" >Award and Honors</div>
              <div class="mdl-typography--subhead">
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-400"></i> 'Best Team' Award for GE O&G </div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-500"></i> 'Best Team' Award for BCP/CPP in Motorola Mobility</div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-600"></i> 'On The Spot' Award for project in Motorola Mobility </div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-700"></i> 'Best Team' Award for NetApp project in Hitachi Consulting Ltd</div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-800"></i> 'ASE Achiever's' Award in Accenture Services Ltd</div>

              </div>


              <div class="" id="chart_div" style="padding-top: 20px;"></div>
            </div>
            <div class="mdl-cell mdl-cell--10-col mdl-color--white" >
              <div class="mdl-typography--headline heading-background">Languages</div>

              <div id="lang-1" data-percent="80" class="lightblue medium"></div>
              <div id="lang-2" data-percent="98" class="lightblue medium"></div>
            </div>

            <!-- <div class="mdl-cell mdl-cell--6-col mdl-color--white  card-margin-top border-bottom" >
              <div class="mdl-typography--headline">Education</div>
              <div class="mdl-cell mdl-cell--6-col" id="chart_div" style="padding-top: 20px;"></div>
            </div> -->
            <!-- vertical separator line
              <div style="border-left:1px solid grey; min-height:100px; padding-left: 55px;"></div>
             -->
          </div>





</div>