<div class="mdl-grid">
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-shadow--6dp">
	<figure class="mdl-card__media"><img src="images/laptop.jpg" alt=""/></figure>
	<div class="mdl-card__title">
	  <h1 class="mdl-card__title-text">Profile</h1>
	</div>
	<div class="mdl-card__supporting-text">
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus, consectetur.</p>
	</div>
  </div><br/><br/>
  <form method="post">
	<input type="hidden" name="_csrf"/>
	<div class="mdl-textfield mdl-js-textfield">
	  <input type="email" name="email" required="required" class="mdl-textfield__input"/>
	  <label for="username" class="mdl-textfield__label">Username</label>
	</div>
	<input type="submit" class="mdl-button mdl-js-button mdl-button--raised"/>
  </form>
</div>
