<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="container" style="width: 100%;">
			<div class="mdl-card mdl-js-card  mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-color-text--black mdl-cell--top " >
        	<figure>
            <img src="./images/msk-1-small.jpg" title="Khan" alt="Shahid"/>
	      	</figure>
          <div class="head3"> Mohammed Shahid Khan </div>
        	<div class="mdl-typography--subhead">Tech Lead, UI Developer, AngularJS Enthusiast </div>
        </div>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-js-cell mdl-cell--3-col mdl-color-text--black mdl-typography--body-1">
          <div><i class="fa fa-home fa-fw"></i> <span class="align-top"> Oklahoma City, OK</span></div>
          <div><i class="fa fa-mobile fa-lg fa-fw"></i> <span class="align-top"> +1 (123) 456 7890</span></div>
          <div><i class="fa fa-envelope-o fa-fw"></i> <span class="align-top"> shahid.manit@gmail.com</span></div>
        </div>
      </div>
	    <ul class="timeline">
	        <li>
	          <div class="timeline-badge current"><i class="fa fa-briefcase"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Tata Consultancy Services</h4>
	              <p><small class="text-muted"><i class="fa fa-clock-o"></i> Since Dec 2011</small></p>
	            </div>

	            <div class="timeline-body">
	              <p class="mdl-color-text--blue-400"><i class="fa fa-users"></i>
                  <span class="mdl-typography--body-2"> GE Oil & Gas, Motorola Mobility</span></p>
	              <p><i class="fa fa-cog"></i> Tech Lead, Lead Developer, UI Developer</p>
	            </div>
	          </div>
	        </li>
	        <li class="timeline-inverted">
	          <div class="timeline-badge info"><i class="fa fa-briefcase"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Hitachi Consulting</h4>
	              <p><small class="text-muted"><i class="fa fa-clock-o"></i> Aug 2010 - Nov 2011</small></p>
	            </div>
	            <div class="timeline-body">
                <p class="mdl-color-text--blue-400"><i class="fa fa-users"></i>
                  <span class="mdl-typography--body-2"> NetApp</span></p>
	              <p><i class="fa fa-cog"></i> Portal Developer, UI Developer</p>
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="timeline-badge  info"><i class="fa fa-briefcase"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Accenture</h4>
	              <p><small class="text-muted"><i class="fa fa-clock-o"></i> Jun 2006 - Aug 2010</small></p>
	            </div>
	            <div class="timeline-body">
                <p class="mdl-color-text--blue-400"><i class="fa fa-users"></i>
                  <span class="mdl-typography--body-2"> Nokia, Telecom Malaysia</span></p>
	              <p><i class="fa fa-cog"></i> Portal and Content Developer</p>
	            </div>
	          </div>
	        </li>

	        <li  class="timeline-inverted">
	          <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Master of Computer Applications</h4>
	              <p><small class="text-muted"><i class="fa fa-university"></i> MANIT (NIT/REC) Bhopal, INDIA</small></p>
	              <p><small class="text-muted"><i class="fa fa-graduation-cap"></i> Jun 2006</small></p>
	            </div>
	            <div class="timeline-body">
	              <p></p>
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i></div>
	          <div class="timeline-panel">
	            <div class="timeline-heading">
	              <h4 class="timeline-title">Bachelor of Science</h4>
	              <p><small class="text-muted"><i class="fa fa-university"></i> G.M.A. Holkar Science College, Indore, INDIA</small></p>
	              <p><small class="text-muted"><i class="fa fa-graduation-cap"></i> Jun 2003</small></p>
	            </div>
	            <div class="timeline-body">
	              <p></p>
	            </div>
	          </div>
	        </li>
	        <li>
	          <div class="timeline-badge default"><i class="fa fa-hourglass-start"></i></div>
	        </li>
		    </ul>
		</div>
	</div>
	<div class="mdl-cell mdl-js-cell mdl-cell--12-col mdl-grid mdl-color--white" >
    <div class="mdl-cell mdl-cell--12-col mdl-color--white  card-margin-top " >
      <div class="mdl-typography--title heading-background">Proficiency</div>
      <div ng-repeat="prof in proficiencyArr">
        <div proficiency-directive
          id = {{prof.text}}
          text = {{prof.text}}
          percent = {{prof.percent}}
          class  =  "mdl-color--blue-100 small" >
        </div>
      </div>
    </div>



    <div class="mdl-cell mdl-cell--12-col mdl-color--white">
      <div class="mdl-typography--title heading-background">Skills</div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--8-col">
            <div class="barGraph">
              <ul class="graph" ng-repeat="skill in skills">
                <span class="graph-barBack"><span class="graph-legend">{{skill.name}}</span>
                  <li class="graph-bar" data={{skill.percent}} ng-style="{width: {{skill.percent}}+'%' }">
                  </li>
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mdl-cell mdl-cell--12-col mdl-color--white">
      <div class="mdl-typography--title heading-background">Interest</div>
      <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding-top: 1px;">
        <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-400">
          <i class="fa fa-html5 fa-4x fa-fw"></i>
        </div>
        <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-500">
          <i class="fa fa-css3 fa-3x fa-fw"></i>
        </div>
        <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-600">
          <i class="fa fa-js fa-4x fa-fw"></i>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
      <div class="mdl-typography--title heading-background">Leisure</div>
      <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding-top: 1px;">
        <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-400">
          <i class="fa fa-gamepad fa-4x fa-fw"></i>
        </div>
        <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-500">
          <i class="fa fa-soccer-ball-o fa-3x fa-fw"></i>
        </div>
        <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-600">
          <i class="fa fa-plane fa-4x fa-fw"></i>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
      <div class="mdl-typography--title heading-background" >Award and Honors</div>
      <div class="mdl-typography--subhead">
          <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-400"></i> 'Best Team' Award for GE O&G </div>
          <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-500"></i> 'Best Team' Award for BCP/CPP in Motorola Mobility</div>
          <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-600"></i> 'On The Spot' Award for project in Motorola Mobility </div>
          <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-700"></i> 'Best Team' Award for NetApp project in Hitachi Consulting Ltd</div>
          <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-800"></i> 'ASE Achiever's' Award in Accenture Services Ltd</div>
      </div>
      <div class="" id="chart_div" style="padding-top: 20px;"></div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
      <div class="mdl-typography--title heading-background">Languages</div>
      <div ng-repeat="lang in languageArr">
        <div proficiency-directive
          id = {{lang.text}}
          text = {{lang.text}}
          percent = {{lang.percent}}
          class  =  "green small" >
        </div>
      </div>
    </div>
  </div>
</div>
