<div class="mdl-grid slide-animation mdl-color--white">

  <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-color--white">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--4-col-phone  mdl-color-text--black mdl-cell--top " >
      <div id="tl_container" class="mdl-text-color--blue" >
        <figure>
          <img src="./images/msk-small.jpeg" title="Khan" alt="Shahid"/>
        </figure>
        <div>
          <div class="head3"> Mohammed Shahid Khan </div>
          <div class="mdl-typography--title"> Web Developer</div>
        </div>
      </div>
    </div>

    <div class="mdl-cell mdl-js-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-color-text--black mdl-typography--body-1" style="float:right;">
      <div><i class="fa fa-home fa-fw"></i> <span class="align-top"> Oklahoma City, OK</span></div>
      <div><i class="fa fa-mobile fa-lg fa-fw"></i> <span class="align-top"> +1 (123) 456 7890</span></div>
      <div><i class="fa fa-envelope-o fa-fw"></i> <span class="align-top"> abcd.efg@xyz.com</span></div>
    </div>
  </div>
  <div class="mdl-layout-spacer "></div>

  <div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <ul class="timeline mdl-cell mdl-cell--7-col">
      <li>
        <div class="timeline-badge info"><i class="fa fa-briefcase"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Tata Consultancy Services</h4>
            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter</small></p>
          </div>
          <div class="timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge info"><i class="fa fa-briefcase"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Hitachi Consulting Ltd</h4>
          </div>
          <div class="timeline-body">
            <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, lectus, non scelerisque augue. Aenean justo massa.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge info"><i class="fa fa-briefcase fa-fw"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Accenture</h4>
          </div>
          <div class="timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Master of Computer Applications</h4>
          </div>
          <div class="timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis gostis.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge success"><i class="fa fa-graduation-cap fa-fw"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Bachelor of Science</h4>
          </div>
          <div class="timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá ,  gostis.</p>
          </div>
        </div>
      </li>
      <li class="timeline">
        <div class="timeline-badge default"><i class="fa fa-info"></i></div>
      </li>
  </ul>
  <div class="mdl-layout-spacer"></div>
 	</div>
  <div class="mdl-layout-spacer"></div>


  	<div class="mdl-cell mdl-js-cell mdl-cell--8-col mdl-grid mdl-color--white" >


            <div class="mdl-cell mdl-cell--12-col mdl-color--white  card-margin-top " >
              <div class="mdl-typography--headline heading-background">Proficiency</div>

              <div id="skill-1" data-percent="80" class="orange medium"></div>
              <div id="skill-2" data-percent="98" class="green medium"></div>
              <div id="skill-3" data-percent="80" class="blue medium"></div>
              <div id="skill-4" data-percent="98" class="purple medium"></div>
              <div id="skill-5" data-percent="98" class="cyan medium"></div>
              <div id="skill-6" data-percent="98" class="red medium"></div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white " >
              <div class="mdl-typography--headline heading-background">Interest</div>
              <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding-top: 1px;">
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-400">
                  <i class="fa fa-html5 fa-4x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-500">
                  <i class="fa fa-css3 fa-3x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-600">
                  <i class="fa fa-js fa-4x fa-fw"></i>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
              <div class="mdl-typography--headline heading-background">Leisure</div>
              <div class="mdl-cell mdl-cell--12-col mdl-grid" style="padding-top: 1px;">
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-400">
                  <i class="fa fa-gamepad fa-4x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-500">
                  <i class="fa fa-soccer-ball-o fa-3x fa-fw"></i>
                </div>
                <div class="mdl-cell mdl-cell--3-col  mdl-color-text--light-blue-600">
                  <i class="fa fa-plane fa-4x fa-fw"></i>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--12-col mdl-color--white" >
              <div class="mdl-typography--headline heading-background" >Award and Honors</div>
              <div class="mdl-typography--subhead">
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-400"></i> 'Best Team' Award for GE O&G </div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-500"></i> 'Best Team' Award for BCP/CPP in Motorola Mobility</div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-600"></i> 'On The Spot' Award for project in Motorola Mobility </div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-700"></i> 'Best Team' Award for NetApp project in Hitachi Consulting Ltd</div>
                  <div><i class="fa fa-trophy fa-lg fa-fw mdl-color-text--light-blue-800"></i> 'ASE Achiever's' Award in Accenture Services Ltd</div>

              </div>


              <div class="" id="chart_div" style="padding-top: 20px;"></div>
            </div>
            <div class="mdl-cell mdl-cell--10-col mdl-color--white" >
              <div class="mdl-typography--headline heading-background">Languages</div>

              <div id="lang-1" data-percent="80" class="lightblue medium"></div>
              <div id="lang-2" data-percent="98" class="lightblue medium"></div>
            </div>
          </div>
</div>