@import url('http://fonts.googleapis.com/css?family=Lobster');
@font-face {
  font-family: 'fontello';
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-star-1:before {
  content: '\73';
}

/* 's' */

.icon-address:before {
  content: '\6c';
}

/* 'l' */

.icon-down-circled:before {
  content: '\66';
}

/* 'f' */

.icon-down-open:before {
  content: '\64';
}


/* 'd' */

.icon-up-open:before {
  content: '\70';
}


/* 'p' */

.icon-graduation-cap:before {
  content: '\65';
}


/* 'e' */

.icon-user:before {
  content: '\75';
}


/* 'u' */

.icon-briefcase:before {
  content: '\62';
}


/* 'b' */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


div#timeline_container {
  width: 100%;
  margin: 20px auto;
  position: relative;
}

div#timeline_container header {
  position: relative;
  z-index: 20;
}

div#tl_container figure {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #cdc9c6;
  overflow: hidden;
  display: block;
  margin: 0 auto;

}

div#tl_container figure img {
  height: 100%;
}

div#tl_container  .head3 {
  position: relative;

  font-family: 'Lobster', cursive;
  font-size: 2.8em;
  text-shadow: 2px 2px 1px #fff;
  font-weight: normal;
}

div#timeline_container > ul {
  position: relative;
  width: 4px;
  background: #cdc9c6;
  border-right: 1px solid white;
  margin: 0 auto;
  padding: 6em 0 0;
  list-style: none;
}

div#timeline_container > ul:after {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #cdc9c6;
  box-shadow: 1px 1px 1px white;
  position: relative;
  bottom: 0;
  left: -6px;
}

div#timeline_container > ul > li {
  position: relative;
  padding: .3em 0;
  min-height: 120px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

div#timeline_container > ul > li.hidden {
  position: absolute;
  top: -500px;
}

div#timeline_container > ul > li div {
  position: absolute;
}

div#timeline_container > ul li > div.event_icn {
  padding: 0.8em;
  font-size: 1em;
  border-radius: 50%;
  background: #ebe7e4;
  /*background: #29B6F6; #29B6F6   #D2F4F5*/
  border: 3px solid #cdc9c6;
  margin-left: -30px;
  color: rgba(85, 86, 86, 0.3);
  box-shadow: 1px 1px 1px white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div#timeline_container > ul > li:hover div.event_icn,
div#timeline_container > ul li.active div.event_icn {
  color: white;
}

div#timeline_container > ul > li.life_event div.event_icn {
  background: #bde3e7;
}

div#timeline_container > ul li.life_event:hover div.event_icn,
div#timeline_container > ul li.life_event.active div.event_icn {
  background: #0ED1E7
}

div#timeline_container > ul > li.education_event div.event_icn {
  background: #eb98c5
}

div#timeline_container > ul > li.education_event:hover div.event_icn,
div#timeline_container > ul li.education_event.active div.event_icn {
  background: #EB2690
}

div#timeline_container > ul > li.work_event div.event_icn {
  background: #D2F4F5;
}

div#timeline_container > ul > li.work_event:hover div.event_icn,
div#timeline_container > ul li.work_event.active div.event_icn {
  /*background: #E76B0E*/
  background: #29B6F6;
}

div#timeline_container > ul > li.user_event div.event_icn {
  background: #A2A2A2
}

div#timeline_container > ul > li.user_event:hover div.event_icn,
div#timeline_container > ul li.user_event.active div.event_icn {
  background: #454545
}

div#timeline_container > ul > li.portfolio_event div.event_icn {
  background: #5E6297
}

div#timeline_container > ul > li.portfolio_event:hover div.event_icn,
div#timeline_container > ul li.portfolio_event.active div.event_icn {
  background: #5E6297
}

div#timeline_container > ul > li div.event_content {
  width: 250px;
  padding: 2px 10px 2px 20px;
  border: 1px solid #DDDBDA;
  border-radius: 10px;
  top: -2em;
  opacity: 0.3;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div#timeline_container > ul > li div.event_content a {
  color: #999;
}

div#timeline_container > ul > li:hover div.event_content,
div#timeline_container > ul li.active div.event_content {
  opacity: 1;
}

div#timeline_container > ul > li:nth-child(odd) div.event_content {
  right: -300px;
}

div#timeline_container > ul > li:nth-child(even) div.event_content {
  left: -300px;
  text-align: left;
}

div#timeline_container > ul > li div.event_content:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #DDDBDA;
  border-left: 1px solid #DDDBDA;
  top: 3em;
  background: #ebe7e4;
  margin-top: 2px;
  background: white;
}

div#timeline_container > ul > li:nth-child(odd) div.event_content:before {
  left: -11px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

div#timeline_container > ul > li:nth-child(even) div.event_content:before {
  right: -11px;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

div#timeline_container > ul > li div.event_content h2 {
  margin: 0.3em 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 1.4em;
}

div#timeline_container > ul > li div.event_content p {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

div#timeline_container > ul > li div.event_content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5em;
}

div#timeline_container > ul > li div.event_date {
  top: 1em;
  width: 180px;
  text-align: right;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px white;
  opacity: 0.3;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

div#timeline_container > ul > li:nth-child(even) div.event_date {
  text-align: left;
}

div#timeline_container > ul > li:hover div.event_date,
div#timeline_container > ul li.active div.event_date {
  opacity: 0.9;
}

div#timeline_container > ul > li:nth-child(odd) div.event_date {
  right: 40px;
}

div#timeline_container > ul > li:nth-child(even) div.event_date {
  left: 40px;
}

div#instructions_container {
  position: fixed;
  padding: 2em;
  width: 300px;
  bottom: 2em;
  right: 2em;
  line-height: 1.4em;
  background: #FDFDBD;
  border-radius: 10px;
  border: 1px solid #DDDBDA;
  z-index: 40;
  font-size: 0.9em;
  color: black;
  line-height: 1.6em;
}

div#info_container {
  position: fixed;
  bottom: 2em;
  right: 2em;
  border-radius: 50%;
  color: #ebe7e4;
  background: #6d6b6a;
  opacity: 0.3;
  cursor: pointer;
  width: 22px;
  font-size: 14px;
  height: 22px;
  padding-top: 2px;
  text-align: center;
  font-family: 'lobster', 'cursive';
  display: none;
}

div#info_container:hover {
  opacity: 0.9;
}


footer a.icon-down-circled {
  text-decoration: none;
}